<div id="content" class="sidebar-middle" style="margin-left: 20%; width: 60%;margin-top: 15px;">
    <div class="widget main-widget product-widget">

        <center>
            <?= $this->Html->image('sad.jpg',['style'=>'width: 170px;margin-top: 60px;margin-bottom: 30px;']); ?>
        </center>
        <div id="msg">
            <center>
                <?= __('This account has not yet been confirmed, please verify your email and follow the activation link'); ?>
            </center>
        </div>
        <br><br>
    </div>

</div>  
<style type="text/css">
    .main-widget{
        min-height: 460px;
    }

    #msg{
        width: 80%;
        margin-left: 10%;
        font-size: 23px;
        line-height: 150%;
        color: #000;
        text-transform: capitalize;
    }
</style>