<div id="content" class="sidebar-middle" style="margin-left: 20%; width: 60%;margin-top: 15px;">
    <div class="widget main-widget product-widget">
    	<center>
    		<?= $this->Html->image('happy.jpg',['style'=>'width: 170px;margin-top: 60px;margin-bottom: 30px;']); ?>
    	</center>
		<div id="msg">
			<center>
				<?= __('Your request had been successfully submitted, you will receive an email from us once an administrator reviewed your request, you can either').' '.$this->Html->link(__('check the status'), ['controller'=>'Reservations','action'=>'status']).' '.__('of your request').' '.__('or').' '.$this->Html->link(__('take another look'),['controller'=>'Cars','action'=>'index']).' '.__('at our collection of cars'); ?>
			</center>
		</div>
        <br><br>
    </div>
</div>  
<style type="text/css">
	.main-widget{
		min-height: 460px;
		/*position: relative;*/
	}
	#msg{
		/*position: absolute;
	    top: 50%;
	    transform: translateY(-50%);*/
	    width: 76%;
	    margin-left: 12%;
	    font-size: 17px;
	    line-height: 150%;
	    color: #000;
	    /*text-transform: capitalize;*/
	}
</style>